.pg{
  
    min-height: 160%;
     min-width: 100%;
     background-color: black;
     color: rgb(255, 255, 255);
     z-index: 1003;
     /* margin-top: -5rem; */
     margin-top: -17rem;
     position: fixed;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 16% 2%;
 }
 
 .error{
     height: 250px;
     width: 250px;
     /* margin-top: 5rem; */
     margin-top: 12rem;
 }
 .btohome{
    color: #fff;
    background-color:transparent;
    width: 100px;
    height: 33px;
    padding: 2px 2px;
    border-radius: 5px;
     border: 1px solid #fff;
     margin-top: 4rem;
 }
 @media screen and (max-width: 768px){
     .error{
         height: 150px;
         width: 150px;
         margin-top: 12rem;
         
     }
 }